
 <ion-view hide-tabs="true"  hide-nav-bar="true">
	
        <ion-slide-box on-slide-changed="slideChanged(index)" style = "z-index: 10000;">
          <ion-slide class="item-image">
          	<img src="img/slide_one.jpg"/>
          </ion-slide>
          <ion-slide class="item-image">
            <img src="img/slide_two.jpg"/>
          </ion-slide>
          <ion-slide class="item-image">
            <img src="img/slide_three.jpg"/>
            <button class="button button-positive kaishi" ng-click="startApp()">
           		 开始您的旅途
          </button>
          </ion-slide>
        </ion-slide-box>
    
  </ion-view>  
 
